# weather
alias wttr=curl http://wttr.in/the-hague

# kill ?
alias k9="kill -9"

# python server
Alias pyserve=python -m SimpleHTTPServer 8000

# GIT
alias gac='git add . && git commit -m '
alias gs=‘git status’
